<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mail_gonderme.Properties.Settings.pilotConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\pilot.accdb"
            providerName="System.Data.OleDb" />
        <add name="mail_gonderme.Properties.Settings.yabanci_plotlarConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\yabanci_plotlar.accdb"
            providerName="System.Data.OleDb" />
        <add name="mail_gonderme.Properties.Settings.yabanci_pilot_otelleriConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\yabanci_pilot_otelleri.accdb"
            providerName="System.Data.OleDb" />
        <add name="mail_gonderme.Properties.Settings.veritabanıConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\veritabanı.accdb"
            providerName="System.Data.OleDb" />
        <add name="mail_gonderme.Properties.Settings.veritabaniConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\veritabani.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>